<!DOCTYPE html>
<html>
	<head>
		<title>Toys Account Add</title>
		<link rel="stylesheet" type="text/css" href="/css/create.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div class="container">
			<form action="/fields/createFields" method="POST">
				<label for="store">Choose a Store:</label>
				<select name="store" id="store">
					<option value="ToyStore">Toy Store</option>
					<option value="ElectronicsStore">Electronics Store</option>
				</select>
				<div id="custom-fields">Add Custom Fields &nbsp; - <span class="adder">+</span></div>
				<div id="cf-fields-add"></div>
				<input class="btn" type="Submit" value="Save" />
			</form>
		</div>

		<script type="text/javascript" src="/toys.js"></script>
	</body>
</html>
