<!DOCTYPE html>
<html>
<head>
	<title>Details for Garvit Jain</title>
	<link rel="stylesheet" type="text/css" href="/css/customerDetails.css">
</head>
<body>
	<div class="container">
		<div class="heading">
		    User Details for Garvit Jain (Toys) 
		</div>.
		<div class="info">
			<table>
				<tbody>
					<tr>
						<td class="label">Name</td>
						<td colspan="3" class="value">Garvit Jain</td>
					</tr>
					<tr>
						<td class="label">Email</td>
						<td colspan="3" class="value">jain.garvit7@gmail.com</td>
					</tr>
					<tr>
						<td class="label">Date-of-Birth</td>
						<td colspan="3" class="value">9/08/1998</td>
					</tr>
					<tr>
						<td class="label">Phone No.</td>
						<td colspan="3" class="value">1234567890</td>
					</tr>
					<tr>
						<td class="label">Address</td>
						<td colspan="3" class="value">XYZ, Udaipur, Rajasthan, India</td>
					</tr>
					<tr>
						<td class="label">Nationality</td>
						<td colspan="3" class="value">Indian</td>
						<!-- <td class="update">Update</td>
						<td class="delete">Delete</td> -->
					</tr>
					<tr>
						<td class="label">Religion</td>
						<td colspan="3" class="value">Janism</td>
						<!-- <td class="update">Update</td>
						<td class="delete">Delete</td> -->
					</tr>
					<tr>
						<td class="label">Sex</td>
						<td colspan="3" class="value">Male</td>
						<!-- <td class="update">Update</td>
						<td class="delete">Delete</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>