<!DOCTYPE html>
<html>
	<head>
		<title>Details for Garvit Jain</title>
		<link rel="stylesheet" type="text/css" href="/css/customerDetails.css" />
	</head>
	<body>
		<div class="container">
			<div class="heading">User Details</div>
			<div class="info">
				<table>
					<tbody>
						<% Object.keys(customer).forEach((field) => { %>
						<tr>
							<td class="label"><%= field %></td>
							<td colspan="2" class="value"><%= customer[field] %></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
			
		</div>
	</body>
</html>
