<!DOCTYPE html>
<html>
	<head>
		<title>Customer Add Form</title>
		<link rel="stylesheet" type="text/css" href="./css/index.css" />
	</head>
	<body>
		<div class="container-top">
			<div class="heading"><h2>Choose account type:</h2></div>
			<div class="container">
				<div class="toy btn"><button href="./toys.ejs">Toys</button></div>
				<div class="elec btn"><button>Electronic</button></div>
			</div>
		</div>
	</body>  
</html>
