<!DOCTYPE html>
<html>
	<head>
		<title>Customer Add Form</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
	</head>
	<body>
		<div class="container-top">
			<div class="heading"><h2>Choose account type:</h2></div>
			<div class="container">

				

				<form action="/customers" method="GET">
					<input type="submit" value="Customer" />
				</form>
				<form action="/fields/createFields" method="GET">
					<input type="submit" value="Custom Fields" />
				</form>
			</div>
		</div>
	</body>
</html>
