@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body, html{
  margin: 0;
  padding: 0;
}

body{
  background: #707CC2;
  background: -webkit-linear-gradient(top left, #707CC2, #392069);
  background: -moz-linear-gradient(top left, #707CC2, #392069);
  background: linear-gradient(to bottom right, #707CC2, #392069);
  color: white;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap : 20px;
  align-items: center;
}

.heading{
  font-family: 'RocknRoll One', sans-serif;
  font-size : 2em;
  text-align: center;
  margin-bottom : 30px;
  margin-top: 20px;
}

.inp{
  height: 30px;
  padding: 10px;
  padding-left: 15px;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  min-width: 500px;
}

#custom-fields{
  font-family: 'RocknRoll One', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.7em;
  line-height: 40px;
  height: 40px;
  margin-top: 40px;
}

.adder{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 30px;
  background: rgba(150,150,255,0.7);
  border : 2px solid rgba(0,0,0,0.4);
}

.btn{
  width: 200px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  border: 1px solid white;
  font-family: 'RocknRoll One', sans-serif;
  background : rgba(255,255,255,0.3);
  color: white;
  padding: 5px;
  font-size: 1.2rem;
}

#cf-fields-add{
  display: flex;
  width: 500px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#cf-fields-add span{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#cf-fields-add span input{
  height: 20px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
}

.deleter{
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  background: rgba(255,100,100,0.8);
  border: 2px solid red;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  line-height: -10px;
}

.select{
  padding: 5px;
  font-family: 'Poppins', sans-serif;
}