@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
  box-sizing : border-box;
}
body,html{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}

.container{
  padding: 50px;
  padding-top: 10px;
}


.heading{
  color: rgb(20,20,20);
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  text-align : center;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.sub-head{
  display: block;
  font-family: 'RocknRoll One', sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.selector{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.store-name{
  width: 30%;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  text-indent: 10px; 
}
.add-btn{
  background: #fff364;
  color: black;
  border-radius: 5px;
  font-size: 1.2em;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  line-height: 10px;
}

#custom-fields-add{
  width: 80%;
  margin: 20px auto;
}

.field{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  height: 50px;
  margin-bottom: 20px;
}

.btn{
  display: block;
  text-align: center;
  width: 20%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  border: 2px solid grey;
  background: #00c700;
  color: white;
  border-radius: 5px;
}

.inp{
  width: 70%;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  padding: 5px;
  padding: 10px;
}

.select{
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  padding: 10px;
  width: 20%;
  display: block;
}

.deleter{
  font-family: 'Poppins', sans-serif;
  font-size: 2.0em;
  padding: 10px;
  display: block;
  color: white;
  background: rgb(255,100,100);
  line-height: 25px;
  border: 2px solid rgb(100,50,50);
  border-radius: 50%;
  font-weight: 700;
  width: 50px;
  text-align: center;
  cursor: pointer;
}