@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html, body{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  min-width: 750px;
  background: #707CC2;
  background: -webkit-linear-gradient(top left, #707CC2, #392069);
  background: -moz-linear-gradient(top left, #707CC2, #392069);
  background: linear-gradient(to bottom right, #707CC2, #392069);
  color: white;
}

.container-top{
  display: flex;
  flex-direction: column;
  margin:0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap : 50px;
}

.heading h2{
  margin:0;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

.container{
  width : 100%;
  display: flex;
  flex-direction : row;
  align-items: center;
  justify-content: center;
  gap : 80px; 
}

.btn, .btn button{
  width: 150px;
  height: 50px;
}

.btn button{
  text-align: center;
  border: 1px solid white;
  font-family: 'RocknRoll One', sans-serif;
  background : rgba(255,255,255,0.3);
  color: white;
  padding: 5px;
  font-size: 0.9rem;
}

