@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
  box-sizing : border-box;
}
body,html{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: #CE87EE;
  background: -webkit-linear-gradient(top left, #CE87EE, #6366AA);
  background: -moz-linear-gradient(top left, #CE87EE, #6366AA);
  background: linear-gradient(to bottom right, #CE87EE, #6366AA);
}

.container{
  padding: 50px;
  padding-top: 20px;
}

.heading{
  color: rgb(255,255,255);
  text-shadow: -1px -1px 2px rgb(0,0,0);
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  text-align : center;
  margin-bottom: 60px;
  letter-spacing: 4px;
}

.card{
  position: relative;
  margin-right: 40px;
  margin-left: 0px;
  display: inline-block;
  border-radius: 20px;
  border: 4px solid rgba(255,255,255,0.8);
  background: #CE7FE8CC;
  background: -webkit-linear-gradient(top, #CE7FE8CC, #6803FEB3);
  background: -moz-linear-gradient(top, #CE7FE8CC, #6803FEB3);
  background: linear-gradient(to bottom, #CE7FE8CC, #6803FEB3);
  padding: 20px;
  padding-bottom: 30px;
  width: 300px;
  height: 250px;
  color : white;
  /*box-shadow: -2px -2px 50px 1px rgba(206, 127, 232, 1) , 2px 2px 10px 0.5px black;*/
  cursor: pointer;
}

.delete-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background: red;
  padding: 5px;
  border: 5px solid white;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

.user-name{
  font-size: 2em;
  font-family: 'RocknRoll One', sans-serif;
  margin-bottom: 5px;
  margin-top: 20px;
}

.email{
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.other-details{
  margin-top : 20px;
}

.dob{
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

.phno{
  font-size: 1.05em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

.address{
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
}

.user-name, .email, .phno, .address, .dob, .other-details{
  width: 100%;
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
}