@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
  box-sizing : border-box;
}
body,html{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}

.container{
  padding: 50px;
  padding-top: 10px;
}


.heading{
  color: rgb(20,20,20);
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  text-align : center;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.custom-fields{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.custom-fields .inp{
  width: 40%;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  padding: 5px;
  padding: 10px;
}

.select{
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  padding: 10px;
  width: 20%;
  display: block;
}

.btn{
  display: block;
  text-align: center;
  width: 20%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  border: 2px solid grey;
  background: #00c700;
  color: white;
  border-radius: 5px;
}